<link rel="stylesheet" href="../../../static/stylesheets/landing.css">

<div class="hola center-align">
<div class="container">
    <div class="row">
    <div class="col s12 m6 l6">
        <div class="texto">
        <img class="titulos" src="../../../static/holatxt.png">
        <p><img src="../../../static/billy.png"> te ayudará a ser más organizado con tus pagos. Descarga la aplicación.</p>
        </div>
            <div class="row center-align">
            <img src="../../../static/appstore.png">
            <img src="../../../static/googleplay.png">
            </div>
    </div> 
    
    <div class="col s12 m6 l6 center-align">
        <img src="../../../static/hola.png">
    </div>
        </div>
</div>
</div>

<div class="agrega center-align">
<div class="container">
    <div class="row">
        <div class="col s12 m6 l6">
            <div class="texto">
            <img class="titulos" src="../../../static/agregatxt.png">
            <p>Con los recordatorios de <img src="../../../static/billy.png"> no se te volverá a pasar ninguna fecha.</p>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <img src="../../../static/agrega.png">
        </div>
    </div>
</div>
</div>

<div class="agrega center-align">
<div class="container">
    <div class="row">
        <div class="col s12 m6 l6">
            <div class="texto">
            <img class="titulos" src="../../../static/planeatxt.png">
            <p>Visualiza los recordatorios y anticipa tus pagos <img src="../../../static/billy.png"> te recordará cuando debas pagar.</p>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <img src="../../../static/agrega.png">
        </div>
    </div>
</div>
</div>

<div class="agrega center-align">
<div class="container">
    <div class="row">
        <div class="col s12 m6 l6">
                <div class="texto-descarga">
                <img class="titulos" src="../../../static/descargatxt.png">
                <p>Visualiza los recordatorios y anticipa tus pagos <img src="../../../static/billy.png"> te recordará cuando debas pagar.</p>
                </div>
        </div>
        <div class="col s12 m6 l6">
            <div class="row redes-sociales"><img class="responsive-img" src="../../../static/facebook.png"></div>
            <div class="row redes-sociales"><img class="responsive-img" src="../../../static/twitter.png"></div>
            <div class="row redes-sociales"><img class="responsive-img" src="../../../static/appstore.png"></div>
            <div class="row redes-sociales"><img class="responsive-img" src="../../../static/googleplay.png"></div>
        </div>
    </div>
</div>
</div>
